PROFILE_EMAIL=rifushigi@dev.com
PROFILE_NAME=Rifushigi
PROFILE_STACK=Java/SpringBoot/Python/Flask/TypeScript/Node.js

HOST=0.0.0.0
PORT=8000

ENVIRONMENT=development

CAT_FACTS_API_URL=https://catfact.ninja/fact
API_TIMEOUT=10.0